.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: auto;
}

.wrap {
  margin: 90px 0px;
}

.main {
  img {
    width: 100%;
    height: calc(100% - 500px);
    object-fit: cover;
  }
}
