.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: auto;
}

.wrap {
  margin: 90px 0px;
}

.main {
  img {
    width: 100%;
    height: calc(100% - 500px);
    object-fit: cover;
  }
}

.title {
  font-size: 3.75rem;
  text-align: center;
  text-transform: uppercase;
  @media only screen and (max-width: 600px) {
    font-size: 2.75rem;
  }
}

.display {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  @media only screen and (max-width: 1120px) {
    flex-direction: column;
  }
  &__img {
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 500px;
    }
  }

  &__text {
    background-color: #383839;
    padding: 2rem 4rem;
    width: calc(50% - 30px);
    max-height: 500px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    @media only screen and (max-width: 1120px) {
      width: 100%;
      padding: 2rem 1rem;
      gap: 2rem;
    }
    h2 p {
      font-size: 2.75rem;
    }
    p {
      font-size: 0.75rem;
    }
    &__title {
      text-align: end;
    }

    &__btn {
      color: #fff;
      text-align: center;
      text-decoration: none;
      background-color: #566261;
      padding: 0.75rem;
      text-transform: uppercase;
      &:hover {
        background-color: #ffc801;
        color: #383839;
      }
    }
  }
}

.product__container {
  color: #383839;
  .products__title {
    padding: 1rem 0;
    border-bottom: 1px solid #383839;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .product {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 500px;
      min-width: 300px;
      img {
        width: 100%;
        min-height: 400px;
        object-fit: cover;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
      h4,
      p {
        z-index: 999;
        background-color: #fff;
        padding: 0.5rem 0;
        font-size: 1rem;
      }
    }
  }
}
