.footer {
  margin: auto;
  padding: 1.5rem 4.375rem;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    padding: 1.5rem 1rem;
  }
}
