.klarna {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
  height: 100%;
  iframe {
    height: 70vh;
    width: 100vw;
  }
  svg {
    animation: spin infinite linear 1s;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
